useDynLib("sales")

import("Matrix")

export(ernet,
cv.ernet,
cpernet,
cv.cpernet)

S3method("print","ernet")
S3method("coef","ernet")
S3method("plot","ernet")
S3method("predict","ernet")

S3method("coef","alspath")
S3method("predict","alspath")

S3method("coef","cv.ernet")
S3method("plot","cv.ernet")
S3method("predict","cv.ernet")

S3method("print","cpernet")
S3method("coef","cpernet")
S3method("plot","cpernet")
S3method("predict","cpernet")

S3method("coef","cpalspath")
S3method("predict","cpalspath")

S3method("coef","cv.cpernet")
S3method("plot","cv.cpernet")
S3method("predict","cv.cpernet")
